.form-input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #495054;
    width: 444px;
    padding: 16px;
    outline-style: none;
}
.recover-pass {
    margin-left: 198px;
    border-bottom: 1px solid green;
    color: green;
    font-weight: 400;
    cursor: pointer;
}
.btn-google{
    width: 268px;
    height: 54px;
    border-radius: 40px;
    background-color: #e2e2e2;
}
.google-icon{
    width: 20px;
    margin-right:10px;
}
.create-account-text {
    color: #3367f7;
    border-bottom: 1px solid;
    cursor: pointer;
}